<!DOCTYPE html>
<html>
<style>

body {
  background-color: #2C3E50;
}
</style>


<title>Ali Alawsi</title>
<link rel="icon"
     type="image/png"
     href="https://avatars.githubusercontent.com/u/87736155?s=400&u=7cce8c3b25d2683ae6f8ef90f1e21b44f117a216&v=4">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*============================================Tele-Tw-insta=================================================
/* Style the Sticky icons on web page */
.stickyicon-list {
position: fixed;
top: 200px;
transform: translateY(50%);
}

.stickyicon-list a {
display: block;
text-align: center;
padding: 8px;
transition: all 0.5s ease;
color: white;
font-size: 30px;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
color: #000;
width:10px;
}
/* Now we have to design each icon of social media */

.twitter {color: white}
.instagram {color: white}
.telegram {color: white}
</style>

<body>
<div class="stickyicon-list">
<a href="https://twitter.com/abalawsi" target="twitter">
<i class="fa fa-twitter"></i>
</a>

<a href="https://www.instagram.com/awsi5" target="instagram">
<i class="fa fa-instagram"></i>
</a>

<a href="https://t.me/awsi5" target="telegram">
<i class="fa fa-telegram"></i>
</a>

</div>

<div class="topnav">
  <a class="active" href="home">الرئيسبة</a>
  <a href="contact">تواصل</a>
  <a href="about">حول</a>
  <a href="Bot">Telegram Bot</a>
</div>


<h1 style="text-align: center;"><span style="color: #ffffff;"><strong>Test WebSite</strong></span></h1>

<style>img {border-radius: 50%;}</style>


<center><img style="width: 80px;" src="https://avatars.githubusercontent.com/u/87736155?s=400&amp;u=7cce8c3b25d2683ae6f8ef90f1e21b44f117a216&amp;v=4" alt="Logo" />

<p><span style="color: #ffffff;">&nbsp; Ali Alawsi</span></p>
<p><span style="color: #ffffff;">&nbsp; Email : instagram2@my.com</span></p>

<h2 style="text-align: center;"><span style="color: #ffffff;">

<h2 style="text-align: center;"><span style="color: #ffffff;">موقع بسيط لمشاركة المعلومات</span></h2>


<style> body {font-family: Arial, Helvetica, sans-serif;}
hr.rounded {border-top: 10px solid #bbb;border-radius: 5px;}
</style> <hr class="rounded">




<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/133" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->


<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/126" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/127" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/86" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/83" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/80" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/65" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/116" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/134" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/135" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/136" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/137" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/147" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/157" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/158" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/159" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/160" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/161" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/164" data-width="100%" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/165" data-width="100%" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/166" data-width="100%" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/201" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<script async src="https://telegram.org/js/telegram-widget.js?16" data-telegram-post="awsi5/202" data-width="50" data-userpic="true" data-color="29B127" data-dark="1" data-dark-color="72E350"></script>

<hr class="rounded"> <!-- ========================== -->

    </body>
</html>